section.hero {
	$bg-color: #9ca2c1;
	$titles-color: #f4ecd6;
	text-align: center;
	background: linear-gradient( -35deg,darken($bg-color,20%), lighten($bg-color,6.5%));
	//background:$bg-color;
	padding-bottom: 4rem;
	.titles {
		padding: 0 2rem;
		margin: 4rem 0;
		h1 {
			color: $titles-color;
			
			font-size: 4rem;
			@media #{$small-only} {font-size: 3rem;}
			font-weight: 200;
		}
		/*h2 {
			color: $titles-color;
			@media #{$medium-up} { 
				font-size: 2rem;
			}
			font-weight: 300;
			em {
				text-emphasis: none;
				font-style: normal;
				font-weight: 500;
			}
		}*/
	}
	.domains {
		padding: 0 2rem;
		margin: 4rem 0;
		.list {
			h3 {
				color: $titles-color;
				text-align: left;
				@media #{$medium-up} {font-size: 2rem;}
				font-weight: 300;
				&.active {
					font-weight: 600;
					text-shadow: 0 0 20px  rgba($titles-color,0.3);
				}
			}
		}
		.image {
			svg {
				height: 20rem;
				* {
					//fill:$titles-color;
				}
			}
		}
	}
	.copy {
		p {
			color: $titles-color;
			font-size: 1.45rem;
			text-align: center;
			line-height: 1.7;
			font-weight: 400;
			em {
				font-style: normal;
				font-weight: 600;
			}
			
		}
	}
	.cta {
		$cta-bg:darken($bg-color,10%);
		margin: 4rem auto;
		text-align: center;
		a {
			position: relative;
			background:linear-gradient( 130deg,#40f99b, #ACFCD9);
			//background:radial-gradient(circle at center -2px,#acfa97, #40f99b);
			padding: 1rem 2rem;
			
			border-radius: 2rem;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: .1rem;
			font-size: 1.15rem;
			color: $cta-bg; //61707d
			line-height: 1.4;
		}
		a:after { // Thanks to heapanalytics.com. Steal like an artist.
			position:absolute;
			top:2px;
			left:2px;
			right:2px;
			bottom:2px;
			opacity:0;
			padding: .81rem 0rem;
			content:attr(data-text);
			border-radius:30px;
			transition:opacity .15s, color .15s;
			background-color: $cta-bg;
			letter-spacing: .1rem;
			font-size: 1.15rem;
			line-height: 1.4;
		}
		a:hover:after {
			opacity: 1;
		}
		a:hover {
			color:$titles-color;
		}
	}
}