section.hero {
	$bg-color: #713E5A;
	$titles-color: #f4ecd6;
	text-align: center;
	background: linear-gradient( -35deg,darken(#847996,20%), lighten(#847996,15%));
	//background:$bg-color;
	.titles {
		padding: 0 2rem;
		margin: 4rem 0;
		h1 {
			color: $titles-color;
			
			font-size: 4rem;
			@media #{$small-only} {font-size: 3rem;}
			font-weight: 200;
		}
		/*h2 {
			color: $titles-color;
			@media #{$medium-up} { 
				font-size: 2rem;
			}
			font-weight: 300;
			em {
				text-emphasis: none;
				font-style: normal;
				font-weight: 500;
			}
		}*/
	}
	.domains {
		padding: 0 2rem;
		margin: 4rem 0;
		.list {
			h3 {
				color: $titles-color;
				text-align: left;
				@media #{$medium-up} {font-size: 2rem;}
				font-weight: 300;
				&.active {
					font-weight: 600;
					text-shadow: 0 0 20px  rgba($titles-color,0.3);
				}
			}
		}
		.image {
			svg {
				height: 20rem;
				* {
					fill:$titles-color;
				}
			}
		}
	}
	.copy {
		p {
			color: $titles-color;
			font-size: 1.45rem;
			text-align: center;
			line-height: 1.7;
			font-weight: 400;
			em {
				font-style: normal;
				font-weight: 600;
			}
			
		}
	}
}