$navHeight: 6rem;
nav.main {
	$text-color:rgba(255, 255, 255, 0.75);
	$text-color-on-content:rgba(51, 51, 51, 1);
	$bg:rgba(252,252,252,0);
	$bg-on-content:rgba(252, 252, 252, .8);
	background-color: $bg;
	fill:$text-color;
	color: $text-color;	
	// General
	padding: $navHeight * 0.2 2rem;
	width: 100%;
	height: $navHeight;
	position: fixed;
	top: 0;
	z-index: 100;
	.logo, .logo svg, .row{ // Logo height fix
		height: 100%;
	}
	.logo {
		.letter {
			fill: inherit;
		}
		.corner {
			fill: inherit;
		}
	}
	.menu {
		&-large {
			ul.inline-list {
				margin: 0;
				li {
					line-height: $navHeight * 0.6;
					font-size: 1.15rem;
					font-weight: 600;
				}
			}
		}
		
		&-small {
			i {
				font-size: 2rem;
				line-height: $navHeight * 0.6;
				cursor: pointer;
			}
		}
		li .cta {
			@include cta(#7F8EC6,$text-color);
		}
		li .cta.on-content {
			@include cta(#E3E6F2,$text-color-on-content);
		}		
	}
	&.on-content {
		@include material-shadow(1);
		opacity: 1;
		background-color: $bg-on-content;
		fill:$text-color-on-content;
		color: $text-color-on-content;		
	}
}
.navspacer {
	height: $navHeight;
	padding: 0;
	margin: 0;
}