// Base Variables
$primary-color: #8449CE;
$secondary-color: #2E81F7;
$alert-color: #FF435E;
$success-color: #27C87A;
$warning-color: #ffc543;
$info-color: #1FD4FF;

// Foundation Variables
$body-font-family: "Source Sans Pro", sans-serif;
$anchor-font-color: inherit;
$anchor-font-color-hover: inherit;
$row-width: rem-calc(1170*1.1);