@mixin resp-size($large-size) {
	font-size: $large-size;
	@media #{$small-only} {
		font-size: $large-size *0.7;
	}
	@media #{$medium-only} {
		font-size: $large-size *0.85;
	}
}
@mixin title-size($base-size) {
	font-size: $base-size;
	@media #{$small-only} {
		font-size: $base-size - 3;
	}
	@media #{$medium-only} {
		font-size: $base-size - 1.5;
	}
}