footer.main {
	background: $dark-bg-color;
	.columns {
		margin-top: 3rem;
	}
	.logo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		transition: transform .3s;
		svg {
			display: block;
			width: 55%;
			margin-top: 1.5rem;
			* {
				fill: $dark-paragraph-color;
			}
		}
	}
	h3 {
		line-height: .8;
		margin-top: 0;
		color: rgba(255, 255, 255, 0.5);
	}
	.partners {
		ul {
			margin-left: 0;
			li {
				list-style: none;
				font-size: 1.15rem;
				transition: color .3s;
				&:hover {
					color: $light-text-color;
				}				
			}
		}
	}
	.social {
		a {
			margin-right: 1.5rem;
		}
		i {
			font-size: 3rem;
			transition: color .3s;
			&:hover {
				color: $light-text-color;
			}
		}
		.link-legal {
			margin-top: .75rem;
			transition: color .3s;
			&:hover {
				color: $light-text-color;
			}			
		}
	}
	&:hover {
		.logo {
			transform:rotate(-7.5deg) scale(1.1);
		}
	}
}
