nav.main {
	height: $navigation-height;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;	
	padding: $navigation-height-padding * 0.2 2rem;
	
	background: $navigation-bg-color;
	fill:$navigation-text-color;
	color: $navigation-text-color;
	@include material-shadow($navigation-depth);
	transition: fill .2s, color .2s, background .2s;
	&.on-top {
		@include material-shadow(0);
		background: $navigation-ontop-bg-color;
		fill:$navigation-ontop-text-color;
		color: $navigation-ontop-text-color;		
	}	
	.logo, .logo svg, .row{ // Logo height fix
		height: 100%;
	}
	.logo * {
		fill: inherit;
	}
	.menu {
		&-large {
			ul.inline-list {
				margin: 0;
				li {
					line-height: $navigation-height - $navigation-height-padding * 2;
					font-size: 1.15rem;
					font-weight: 600;
				}
			}
		}
		
		&-small {
			i {
				font-size: 2rem;
				line-height: $navigation-height - $navigation-height-padding * 2;
				cursor: pointer;
			}
		}		
	}

}
.navspacer {
	height: $navigation-height;
	padding: 0;
	margin: 0;
}