<section class="home-section contact inverse">
	<h1>Discutons de votre projet !</h1>
	<div class="flexwrap">
		<div class="bgwrap">
			<input type="text" name="name" placeholder="Comment vous appellez-vous ?"/>
		</div>
		<div class="bgwrap">
			<input type="email" name="email" placeholder="Email"/>
		</div>
		<div class="bgwrap">
			<input type="tel" name="tel" placeholder="Téléphone"/>
		</div>
		<div class="bgwrap">
			<textarea name="desc" placeholder="Parlez-nous de votre projet." value="">
			</textarea>
		</div>
	</div>
</section>